.hero {
  height: 100%;
  overflow: hidden;
  display: flex;
}

.hSection {
  /* flex: 1; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-title {
  margin-top: 50px;
  font-size: 100px;
  color: pink;
}

.hero-title span {
  color: white;
}

.awards {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (max-width: 1280px) {
    width: 60%;
  }

  & p {
    color: #ddd;
    font-size: 14px;
    margin: 16 0;
  }

  & .awardsList {
    display: flex;
    gap: 8px;
  }

  & img {
    width: 36px;
    height: 36px;
    padding: 8px;
    background-color: #fff;
    border-radius: 100%;
  }
}

.scroll {
  margin-bottom: 50px;
  width: max-content;
}

.hero-right {
  align-items: end;
}

.follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 16px;
  background-color: #2f204e;
  border-bottom-right-radius: 10px;

  & img,
  & .followTextContainer {
    width: 20px;
    height: 20px;
  }

  & .followText {
    background-color: #dd4c62;
    font-style: 12px;
    rotate: 90deg;
    width: max-content;
    height: 100%;
    padding: 0 8px;
    transform-origin: left top;
    transform: translateY(-22px);
    display: flex;
    align-items: center;
    border-bottom-right-radius: 10px;
  }
}

/* SPEACH */
.bubbleContainer {
  width: 80%;
  display: flex;
  gap: 8px;
  align-items: end;
  justify-content: space-between;
  color: black;

  & .bubble {
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 24px;
    font-size: 16px;
    border-radius: 20px 20px 0 20px;
  }

  & img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    background-color: orange;
  }
}
.certificate {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  font-weight: 300;
  color: #ddd;
}
.certificate img {
  width: 70px;
  height: 70px;
}

.contactLink {
  margin-bottom: 50px;
}

.circleText {
  letter-spacing: 3px;
  font-size: 20px;
}
.contactButton {
  position: relative;
}

.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* HERO IMAGE */
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;

  @media (max-width: 1280px) {
    height: 90%;
    top: auto;
    bottom: 0;
  }
}

.hImg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: max-content;

  @media (max-width: 1280px) {
    height: 80%;
  }
}

.hImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1536px) {
  .hero-title {
    font-size: 72px;
  }
}

@media (max-width: 1280px) {
  .hero-title {
    font-size: 88px;
  }
}

@media (max-width: 1024px) {
  .bg {
    height: 75%;
  }

  .hero-title {
    font-size: 72px;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .bg {
    height: 90%;
  }

  .hSection {
    width: 100%;
  }

  .hero-left {
    text-align: center;
    align-items: center;
    gap: 36px;
  }

  .hero-right {
    height: 100%;
    justify-content: end;
  }

  .hero-title {
    font-size: 48px;
  }

  .awards {
    width: 100%;
  }

  .awardsList {
    justify-content: center;
  }

  .follow,
  .bubbleContainer,
  .certificate {
    display: none;
  }
}
